include /components/logo/logo.pug
include /components/input/input.pug
include /components/headerOfComponent/headerOfComponent.pug
include /components/dropdown/dropdown.pug
include /components/filterDateDropdown/filterDateDropdown.pug
include /components/dateDropdown/dateDropdown.pug
include /components/arrowForward/arrowForward.pug
include /components/check/check.pug
include /components/radioCheck/radioCheck.pug
include /components/ratings/ratings.pug
include /components/like/like.pug
include /components/button/button.pug
include /components/rangeSlider/rangeSlider.pug
include /components/pagination/pagination.pug


- const parametersHeaderOfEmailInput = ['TEXT FIELD', 'DEFAULT', 'wide']
- const parametersHeaderOfTextInput = ['TEXT FIELD', 'HOVER', 'wide']
- const parametersHeaderOfDropdown = ['Dropdown', 'invisible', 'wide']
- const parametersHeaderOfDateInput = [ 'masked text field', 'invisible', 'wide']
- const parametersHeaderOfFilterDropdown = ['filter date dropdown', 'invisible', 'wide']
- const parametersHeaderOfDateDropdown = [ 'DATEDROPDOWN', 'DATEDROPDOWN', 'wide']
- const parametersHeaderOfSubscriptionTextField = ['subscription text field', 'invisible', 'narrower']

- const optionsForDateDropdown = { inputName: 'email', inputType: 'text', textOfInput: 'Email', modificator: 'wide', theme: 'main-theme'}
- const optionsOfInputEmail =  { inputName: 'email', inputType: 'text', textOfInput: 'Email', modificator: 'wide', theme: 'main-theme'}
- const optionsOfInputText =  { inputName: 'text', inputType: 'text', textOfInput: 'This is pretty awesome', modificator: 'wide', theme: 'main-theme'}
- const optionsOfInputDate = { inputName:'date-text', inputType: 'text', textOfInput: 'ДД.ММ.ГГГГ', modificator:'wide', theme: 'main-theme'}
- const optionsOfInputEmailStandart =  { inputName: 'email', inputType: 'text', textOfInput: 'Email', modificator: 'standart', theme: 'main-theme', additionalModificator: 'border-none'}


doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale= 1.0, user-scalable=0")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    title Form Elements
   
body
  .main-inner
    +logo('white')
    
    
    div(class='main-inner_items inputs inputs_ml')
      
      div(class='inputs__item inputs__item_ml item inputs__item_email')
        +input(optionsOfInputEmail, true , parametersHeaderOfEmailInput)
      
      div(class='inputs__item inputs__item_ml inputs__item_text')
        +input(optionsOfInputText, true , parametersHeaderOfTextInput)
      
      div(class='inputs__item inputs__item_ml inputs__item_dropdownQuests')
        +dropdown('_guests', true, parametersHeaderOfDropdown)
      
      div(class='inputs__item inputs__item_ml inputs__item_maskedText')
        +input(optionsOfInputDate,  true , parametersHeaderOfDateInput)
      
      div(class='inputs__item inputs__item_ml inputs__item_dateDropdown')
        +dateDropdown(optionsForDateDropdown, true, parametersHeaderOfDateDropdown)
      
      div(class='inputs__item inputs__item_ml inputs__item_filterDropdown')  
        +filterDateDropdown(true,parametersHeaderOfFilterDropdown)
      
      div(class="inputs__item inputs__item_ml inputs__item_sub-text-field")
        h2(class="email-form__title")="subscription text field"
        form(class="email-form email-form_main-theme")
          +input(optionsOfInputEmailStandart, false , parametersHeaderOfSubscriptionTextField)
          +arrowForward('primary-theme', 'main-size')
    
    
    div(class="main-inner_items")
      
      fieldset(class="main-inner_item checkboxes")
        legend(class="main-inner__title checkboxes_title")="check buttons"
        
        div(class="checkboxes_inner")
          
          +check('Можно курить', 'checkbox', 'standart', 'pd44px')
          +check('Можно с питомцами', 'checkbox', 'standart', 'pd44px')
          +check('Можно пригласить гостей \xa0 (до 10 человек)', 'checkbox','standart', 'pd44px')
      
      
      fieldset(class="main-inner_item main-inner_item_radio-buttons radio-buttons")
        legend(class="main-inner__title radio-buttons__title")="radio buttons"
        
        .radio-buttons__inner
          +radioCheck("gender" ,"male", "мужчины", "female", "женщины")
      
      
      fieldset(class="main-inner_item main-inner_toogle-buttons")
        legend(class="main-inner__title toogle-buttons__title")="toogle buttons"
         
         .toogle-radioButtons__inner
          +check('Получать спецпредложения', 'checkbox', 'toogle')
          +check('Получать спецпредложения', 'checkbox', 'toogle')
      
      
      div(class="main-inner_item main-inner_item_rate-buttons rate-buttons")
        h2(class="main-inner__title")="rate button"
        
        div(class="rate-buttons__inner")
          +ratings('4')
          +ratings('5')
      
      
      div(class="main-inner__item main-inner__item_like-buttons like-buttons")    
          h2(class="main-inner__title like-buttons__title")="like button"
          
          div(class="like-buttons__inner")
            +like('standart-size', 'disabled', '2')
            +like('standart-size', 'checked', '12')   
    
    
    div(class='main-inner_items')
      
      div(class="main-inner_item main-inner_item_range-slider range-slider") 
        +headerOfComponent('range slider', '5 000₽ - 10 000₽', 'wide', 'standart-size')
        +rangeSlider()
      
      div(class="main-inner_item main-inner_item_buttons buttons")
        +headerOfComponent('buttons', 'invisible', 'wide')
        
        div(class="buttons__inner")
          +button('click me', false, 'standart-size', 'main-theme', '')
          +button('click me', false, 'standart-size', 'main-theme', 'active')
          +button('click me', false, 'standart-size', 'secondary-theme', '')
          +button('click me', false, 'standart-size', 'secondary-theme', 'active')
          .buttons__inner-without-border-buttons
            +button('click me', false, 'small-size', 'without-border-theme', '')
            +button('click me', false, 'small-size', 'without-border-theme', 'active')
          .buttons__inner-theme-with-arrow
            +button('Перейти к оплате', true, 'wide', 'theme-with-arrow', '')
    
      div(class="main-inner_item main-inner_item_pagination pagination") 
        +headerOfComponent('pagination', 'invisible', 'wide', 'standart-size')
        +pagination()