include /components/expandMore/expandMore.pug 
include /components/headerOfComponent/headerOfComponent.pug

mixin dropdown( type, dropdownSize, optionsOfTitles)
  
  
  if (optionsOfTitles)
    div(class=`dropdown dropdown_${dropdownSize} dropdown_${type}`)
      div(class=`dropdown__titles-wrapper dropdown__titles-wrapper_${optionsOfTitles.positionModificator}`)
        if(optionsOfTitles.name)
          span(class="dropdown__name dropdown__name_main-theme")=optionsOfTitles.name
        if(optionsOfTitles.status)
          span(class="dropdown__status dropdown__status_main-theme")=optionsOfTitles.status
      div(class="dropdown__main-inner")
        div(class='dropdown__window-inner')
          span.dropdown__window
          +expandMore('main-theme', 'main-size')
        .dropdown-menu
  
  
  else
    div(class=`dropdown dropdown_${dropdownSize} dropdown_${type}`)
      div(class="dropdown__main-inner")
        div(class='dropdown__window-inner')
          span.dropdown__window
          +expandMore('main-theme', 'main-size')
        .dropdown-menu