mixin input( inputType, textOfInput, modificator)
    input(class= `input-${inputType} input-${inputType}_${inputType} input-${inputType}_${inputType}__${modificator}` type= inputType placeholder= textOfInput)