include /components/headerOfComponent/headerOfComponent.pug

mixin input( inputOptions, headerContent , parametersOfHeaderOfComponent)
  - var {inputName, inputType, textOfInput, modificator, theme } = inputOptions

  if (headerContent === true)
    div(class=`input input_${modificator}`)
      +headerOfComponent(...parametersOfHeaderOfComponent)
      input(class= `input__${inputName} input_${modificator}  input_${theme}` type=inputType placeholder= textOfInput)
  else
      input(class= `input__${inputName} input_${modificator}  input_${theme}` type=inputType placeholder= textOfInput)