include /components/headerOfComponent/headerOfComponent.pug

mixin input( inputOptions, headerContent , parametersOfHeaderOfComponent)
  - var {inputName, inputType, textOfInput, modificator, theme, additionalModificator} = inputOptions

  if (headerContent === true)
    div(class=`input input_${modificator}`)
      +headerOfComponent(...parametersOfHeaderOfComponent)
      if (additionalModificator)
        input(class= `input__${inputName} input_${modificator}  input_${theme} input_${additionalModificator}` type=inputType placeholder= textOfInput)
      else
          input(class= `input__${inputName} input_${modificator}  input_${theme}` type=inputType placeholder= textOfInput)
  else
    if (additionalModificator)
      input(class= `input__${inputName} input_${modificator}  input_${theme} input_${additionalModificator}` type=inputType placeholder= textOfInput)
    else
      input(class= `input__${inputName} input_${modificator}  input_${theme}` type=inputType placeholder= textOfInput)