mixin input( inputType, textOfInput, modificator)
  div(class= `input-${inputType}`)
    input(class= `input-${inputType}_${inputType} input-${inputType}_${inputType}__${modificator}` type= inputType placeholder= textOfInput)