mixin radioCheck (name, id, value, id2, value2, mod='standart')
  div(class="radio-check__wrapper")
    div(class="radio-check__input")
      input(type="radio" id=id name=name class=`radio-check radio-check_${mod}`)
      label(for=id)=value
    div(class="radio-check__input")
      input(type="radio" id=id2 name=name class=`radio-check radio-check_${mod}`)
      label(for=id)=value2