mixin headerOfComponent( textOfForm, statusOfForm, textModificator, size)
  if (statusOfForm == 'invisible')
    div(class=`header-component header-component_${size}`)
        span(class=`header-component__text header-component__text_${textModificator}`)= textOfForm
  //- else if (textOfForm == statusOfForm)
  //-   div(class=`header-component header-component_${size}`)
  //-       span(class=`header-component__text header-component__text_${textModificator}`)= textOfForm
  //-       span(class=`header-component__text header-component__text_${textModificator}`)= textOfForm     
  else
    div(class=`header-component header-component_${size}`)
        span(class=`header-component__text header-component__text_${textModificator}`)= textOfForm
        span(class=`header-component__status header-component__status_${textModificator}`)= statusOfForm