mixin demonstratedCalendar()
  .demonstratedCalendar
    div(class="demonstratedCalendar__header demonstratedCalendar__header_horizontal")
      span(class="material-icons demonstratedCalendar__arrow")="arrow_back"
      h2(class="demonstratedCalendar__title")="август 2019"
      span(class="material-icons demonstratedCalendar__arrow")="arrow_forward"
    div(class="demonstratedCalendar__inner")
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__weekday demonstratedCalendar__week-day_main-theme")="пн"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__weekday demonstratedCalendar__week-day_main-theme")="вт"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__weekday demonstratedCalendar__week-day_main-theme")="ср"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__weekday demonstratedCalendar__week-day_main-theme")="чт"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__weekday demonstratedCalendar__week-day_main-theme")="пт"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__weekday demonstratedCalendar__week-day_main-theme")="сб"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__weekday demonstratedCalendar__week-day_main-theme")="вс"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_inactive")="29"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_inactive")="30"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_inactive")="31"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="1"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="2"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="3"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="4"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="5"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="6"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="7"
      div(class="demonstratedCalendar__cell demonstratedCalendar__cell_current")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_current")="8"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="9"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="10"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="11"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="12" 
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="13"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="14"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="15"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="16"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="17"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="18"
      div(class="demonstratedCalendar__cell demonstratedCalendar__cell_range-from")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_current")="19"
      div(class="demonstratedCalendar__cell  demonstratedCalendar__cell_in-range")
        span(class="demonstratedCalendar__day")="20"
      div(class="demonstratedCalendar__cell demonstratedCalendar__cell_in-range")
        span(class="demonstratedCalendar__day")="21"
      div(class="demonstratedCalendar__cell demonstratedCalendar__cell_in-range")
        span(class="demonstratedCalendar__day")="22"
      div(class="demonstratedCalendar__cell demonstratedCalendar__cell_range-to")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_current")="23"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="24"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="25"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="26"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="27"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="28"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="29"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="30"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="31"
      div(class="demonstratedCalendar__cell")
        span(class="demonstratedCalendar__day demonstratedCalendar__day_standart")="1"
    div(class="demonstratedCalendar__footer demonstratedCalendar__footer_mt20 demonstratedCalendar__footer_horizontal")
      span(class="demonstratedCalendar__button demonstratedCalendar__button_main-theme")="очистить"
      span(class="demonstratedCalendar__button demonstratedCalendar__button_main-theme ")="применить"