
mixin donutChart(votes)
  - var {perfect, good, satisfactorily, bad} = votes
  - var orderedVotes = {good, perfect, satisfactorily, bad}
  - var totalCount = perfect + good + satisfactorily + bad
  figure(class="donut-chart")
    div(class="donut-chart__group")
      svg(class="donut-chart__chart" width="124" height="124" viewbox="0 0 34 34" fill="none" stroke-width="1")
        defs
          linearGradient(id="satisfactorily" x1="0%" y1="0%" x2="0%" y2="100%")
            stop(offset="0%" stop-color="#BC9CFF")
            stop(offset="100%" stop-color="#8BA4F9")
          linearGradient(id="good" x1="0%" y1="0%" x2="100%" y2="0%")
            stop(offset="0%" stop-color="#66D2EA")
            stop(offset="100%" stop-color="#6FCF97")
          linearGradient(id="perfect" x1="0%" y1="0%" x2="0%" y2="100%")
            stop(offset="0%" stop-color="#FFE39C")
            stop(offset="100%" stop-color="#FFBA9C")
          linearGradient(id="bad" x1="0%" y1="0%" x2="0%" y2="100%")
            stop(offset="0%" stop-color="#909090")
            stop(offset="100%" stop-color="#3D4975")
        - var previosOffset = 0
        each value, category in orderedVotes
          if value !== 0
            - var gap = 1
            - var dash = value * 100 / totalCount - gap / 2
            circle(class="donut-chart__unit" r="15.9" stroke=`url(#${category})` stroke-dasharray=`${dash} 100` stroke-dashoffset= previosOffset cx="50%" cy="50%")
            - previosOffset = previosOffset - dash - gap / 2
      p(class="donut-chart__info")
        span(class="donut-chart__number")= totalCount 
        span(class="donut-chart__label")!=`голосов`
    ul(class="donut-chart__legend donut-chart__legend_vertical") 
      li(class="donut-chart__legend-item donut-chart__legend-item_main-theme")="великолепно"
      li(class="donut-chart__legend-item donut-chart__legend-item_main-theme")="xорошо"
      li(class="donut-chart__legend-item donut-chart__legend-item_main-theme")="удовлетворительно"
      li(class="donut-chart__legend-item donut-chart__legend-item_main-theme")="разочарован"
      