mixin check(labeltext, subtitle, options)     
  
  if(subtitle == false)
    .check
      label(class=`check__label check__label_${options.labelStyle} check__label_${options.labelPosition}`)!=labeltext
        input(class=`check__input check__input_${options.checkType}` type="checkbox")
        span(class=`check__box check__box_${options.checkType}`)

  else
    .check
      label(class=`check__label check__label_${options.labelStyle} check__label_${options.labelPosition}`)!=labeltext
        input(class=`check__input check__input_${options.checkType}` type="checkbox")
        span(class=`check__box check__box_${options.checkType}`)
        p(class=`check__subtitle check__subtitle_${options.subtitleStyle} check__subtitle_${options.subtitlePosition}`)&attributes(attributes)!=subtitle