mixin check(labeltext, checkType, ...modificators)      
    - var classes = [...modificators]
    - let labelClassName = 'check'
    - let inputClassName  = 'check__input'
    - let checkBoxClassName = 'check__box'
    each val in classes
      - labelClassName += ` check_${val} `
      - inputClassName += ` check__input_${val}`
      - checkBoxClassName += ` check__box_${val}`
    label(class=`${labelClassName}`)=labeltext
      input(class=`${inputClassName}` type=checkType)
      span(class=`${checkBoxClassName}`)
